<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642260891342-e7e8jblvgi769h3gl52vrrlij8cfg77g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642260891342-e7e8jblvgi769h3gl52vrrlij8cfg77g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642260891342-1clplmjagmi7bvfs8t4hvabbd3jdf42h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcFjrzQnRNv2lLSHYqjH_iMwIQMgiPiIM</string>
	<key>GCM_SENDER_ID</key>
	<string>642260891342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxi_user.madina.ios</string>
	<key>PROJECT_ID</key>
	<string>new-taximadina</string>
	<key>STORAGE_BUCKET</key>
	<string>new-taximadina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642260891342:ios:b33639701273670071429f</string>
	<key>DATABASE_URL</key>
	<string>https://new-taximadina-default-rtdb.firebaseio.com</string>
</dict>
</plist>